/* src/Styling/carousel.css */
.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.carouselItem {
  flex: 0 0 auto;
  width: 300px;
  margin-right: 20px;
  scroll-snap-align: start;
  cursor: pointer;
}

.carouselItem img {
  width: 100%;
  height: auto;
}
